<%= image_tag("introduction.png") %>

<div class="button-container"> 
  <%= link_to 'CONTINUE', users_enter_item_path(current_user.id), class: 'btn blue-buttons' %>
</div>

<div id='searchContainer'>
	<input type="text" name="" id="search">
</div>
