<%= image_tag("introduction.png") %>

<div id='search-container'>
	<input type="text" name="" id="search" placeholder="Browse">
</div>

<div class="button-container" id="continue-button"> 
  <%= link_to 'CONTINUE', users_enter_item_path(current_user.id), class: 'btn blue-buttons' %>
</div>
