/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import 'simple_discussion';
@import './home';
@import './navbar';
@import './introduction';

img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

 p.capitalize {
  text-transform: uppercase;
  color: rgba(88, 205, 207, 1);
}

.container_home_image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#ip2 {
  border-radius: 25px;
  border: 2px solid #609;
  padding: 20px;
  width: 200px;
  height: 15px;
}

 .user-icon{
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

button.glyphicon-user, button.glyphicon-user {
  display: inline;
}

/* Show Item */

.item-image-container{
  display: flex;
  justify-content: center;
}

.cooker-img{
  width: 214px;
  height: 214px;
}

.slider-container{
  display: flex;
  justify-content: center;
}

.slider{
  width: 311px;
  height: 47px;
}

.review-title{
  width: 94px;
  height: 30px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.1px;
  text-align: center;
  color: #58cdcf;
}

.item-information-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.item-info{
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  text-align: center;
  color: #4a4a4a;
}

#item_price{
  background: #fff;
  height: 35px;
  width: 147px;
}

.suggested_price {
  width: 190px;
  height: 22px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 0.1px;
  text-align: center;
  color: #58cdcf;
}

#search{
  width: 279px;
  height: 50px;
  border-radius: 30px;
  border: solid 1px #9b9b9b;
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  color: #4a4a4a;
  margin-top: 13px;
  margin-bottom: 26px;
}

#search-container{
  display: flex;
  justify-content: center;
}
