/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import 'simple_discussion';

.main-logo{
  width: 100px;
  height: 40px;
}

.user-logo{
  width: 24px;
  height: 24px;
}

.navbar-brand {
  font-family: 'Lobster', cursive !important;
  font-weight: 400;
  font-size: 18px;
}

button.navbar-toggler {
  border: none;
}

a.navbar-brand {
  font-size: 18px;
  text-align: center;
}

.navbar-container {
  display: flex;
  justify-content: center;
  width: 285px;
}

.navbar {
  background-color: #E3F9F6 !important;
}

img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

 p.capitalize {
  text-transform: uppercase;
  color: rgba(88, 205, 207, 1);
}

.container_home_image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#ip2 {
  border-radius: 25px;
  border: 2px solid #609;
  padding: 20px;
  width: 200px;
  height: 15px;
}

 .user-icon{
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

button.glyphicon-user, button.glyphicon-user {
  display: inline;
}

/* Home Page */

.save-text {
  font-size: 25px;
  text-align:center;
  color: #58cdcf;
  font-family: 'Raleway', sans-serif;
}

.home-page-list{
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  color: #4a4a4a;
}

.button-container{
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue-buttons{
  width: 279px;
  height: 50px;
  border-radius: 30px !important;
  background-color: #58cdcf;
  margin: 20px 0 20px 0;
  font-family: Raleway;
  font-size: 21px !important;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}

.rectangle {
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  width: 375px;
  height: 230px;
  background-color: #eeeeee;
}

/* Introduction */

.continue_container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.loginContainer {
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  padding: 20px
}

img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

 p.capitalize {
  text-transform: uppercase;
  color: rgba(88, 205, 207, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
}

.container_home_image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#fb_login {
  border-radius: 30px;
  border: 2px solid rgba(155, 155, 155, 1);
  border-width: thin;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  padding-bottom: 47px;
  padding-top: 3px;
  margin-left: 5px;

  width: 280px;
  height: 12px;
  position:relative;
}

.email_input {
  width: 279px;
  height: 50px;
  border-radius: 30px;
  border: solid 1px #9b9b9b;
}

.password_input {
  width: 279px;
  height: 50px;
  border-radius: 30px;
  border: solid 1px #9b9b9b;
}

.loginButtons {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px; /* Adjust the roundness of the FB Google icons*/
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  padding: 6px;
  display: inline-flex;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000 !important;
  margin: 1em 0;
  padding: 0;
  width: 279px;
  margin-left: 5px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
  margin-left: 28px;
}

.input_field {
  width: 47px;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  color: #4a4a4a;
  margin-left: 5px;
}

input.btn, input.btn-primary {
  width: 279px;
  height: 50px;
  border-radius: 30px;
  background-color: #58cdcf;
  border-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

button.glyphicon-user, button.glyphicon-user {
  display: inline;
}

.What-items-are-you-l {
  width: 286px;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  color: #4a4a4a;

}

.newitem_container {
  margin-left: 50px;
  margin-right: 50px;
}

.listing_input {
  width: 279px;
  height: 50px;
  border-radius: 30px;
  border: solid 1px #9b9b9b;
  padding-left: 20px;
}

.listing_input_1{
  width: 279px;
  height: 100px;
  border-radius: 30px;
  border: solid 1px #9b9b9b;
  padding-left: 20px;

}

.How-long-do-you-want {
  width: 279px;
  height: 50px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  color: #4a4a4a;
}

.selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background: #cccccc;
  border:1px solid #cccccc;
}

.selectBox{
  width:279px;
  height:40px;
  border:0px;
  outline:none;
  padding-left: 15px;
  color: #000;
  background-color: white;
}

.selectBox2{
  width:150px;
  height:40px;
  border:0px;
  outline:none;
  padding-left: 15px;
  color: #cccccc;
  background-color: white;

}

span.perday {
  font-family: 'Raleway', sans-serif;
  color: #cccccc;
  // display: inline-flex;
}

.Any-other-notes-to-t {
  width: 274px;
  height: 25px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  color: #4a4a4a;
}

.item_condition {
  width: 279px;
  height: 100px;
  border-radius: 30px;
  border: solid 1px #cccccc;
  padding-left: 20px;
}

::placeholder {
  opacity: 0.3;
}


.words_max {
  width: 200px;
  height: 22px;
  font-family: 'Raleway', sans-serif;
  margin-left: 35px;

  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 0.1px;
  text-align: center;
  color: #4a4a4a;
}

.How-much-would-you-l {
  width: 274px;
  height: 50px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  color: #4a4a4a;
}

.Please-upload-a-pict {
  width: 279px;
  height: 50px;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Show Item */

.item-image-container{
  display: flex;
  justify-content: center;
}

.cooker-img{
  width: 214px;
  height: 214px;
}

.slider-container{
  display: flex;
  justify-content: center;
}

.slider{
  width: 311px;
  height: 47px;
}

.review-title{
  width: 94px;
  height: 30px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.1px;
  text-align: center;
  color: #58cdcf;
}

.item-information-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.item-info{
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  text-align: center;
  color: #4a4a4a;
}

#item_price{
  background: #fff;
  height: 35px;
  width: 147px;
}

.suggested_price {
  width: 190px;
  height: 22px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 0.1px;
  text-align: center;
  color: #58cdcf;
}

#search{
  width: 279px;
  height: 50px;
  border-radius: 30px;
  border: solid 1px #9b9b9b;
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.1px;
  color: #4a4a4a;
  margin-top: 13px;
  margin-bottom: 26px;
}

#search-container{
  display: flex;
  justify-content: center;
}
