// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 600px){
  .main-image-container{
    display: flex;
    justify-content: center;
    height: 430px;
  }
}